<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{ metadata.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Metadata -->
  <meta name="author" content="Samuel Grant" />
  <meta name="description" content="{{ metadata.description }}" />
  <meta name="keywords" content="{{ metadata.keywords }}" />
  <meta name="theme-color" content="{{ metadata.theme-color }}" />

  <!-- Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ metadata.title }}" />
  <meta property="og:description" content="{{ metadata.description }}" />
  <meta property="og:image" content="" />
  <meta property="og:image:height" content="" />
  <meta property="og:image:width" content="" />
  <meta property="og:image:alt" content="" />

  <!-- Assets -->
  <link rel="stylesheet" href="/dist/core.css" />
  <link rel="icon" type="" href="/dist/favicon.ico" />
  <script src="/dist/core.js" defer></script>
</head>

<body {% if view.variant %}class="{{ view.variant }}"{% endif %}>
  {% include "pages/partials/navbar.njk" %}
  {% block body %}
  {% endblock %}
</body>

</html>
