<a href="/" style="color: white;">Home</a>
<a href="/mentoring" style="color: white;">Mentoring</a>
<a href="/about" style="color: white;">About</a>
<a href="/contact" style="color: white;">Contact</a>
