<nav class="navbar">
  <div class='nav-items'>
    <a href="/">Home</a>
    <a href="/mentoring">Mentoring</a>
    <a href="/">Lennox Mentors</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>

  <div class="hamburger" aria-label="Open navigation" tabindex="0">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div id="brand">Lennox Mentors</div>
</nav>
