@use "_variables" as *;

$headings: h1, h2, h3;
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Libre+Baskerville:ital@0;1&display=swap');
// @font-face {
//   font-family: 'belleza';
//   src: url('/assets/fonts/Belleza-Regular.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'baskerville';
//   src: url('/assets/fonts/libre-baskerville-regular.ttf') format('truetype')
// }

@each $element in join($headings, (p, span, li)) {
  #{$element}.highlight {
    color: map-get($colors, accent);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 100;
  letter-spacing: 0.35rem;
  margin: 0;

  @media screen and (max-width: $breakpoint-md) {
    letter-spacing: 0.25rem;
  }
  @media screen and (max-width: $breakpoint-sm) {
    letter-spacing: 0.15rem;
  }
}

@each $h, $sizes in (
  h1: ('default': 6rem, 'md': 0rem, 'sm': 2.5rem),
  h2: ('default': 4rem, 'md': 0rem, 'sm': 2rem),
  h3: ('default': 3rem, 'md': 0rem, 'sm': 1.75rem),
) {
  #{$h} {
    font-size: map-get($sizes, 'default');

    @media screen and (max-width: $breakpoint-md) {
      font-size: map-get($sizes, 'md');
    }
    @media screen and (max-width: $breakpoint-sm) {
      font-size: map-get($sizes, 'sm');
    }
  }
}

p, li, a:not(.button) {
  color: map-get($colors, text);
  font-size: 2rem;
  line-height: 2.5rem;
  text-decoration: none;

  @media screen and (max-width: $breakpoint-md) {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

a[href^='mailto:']:hover {
  text-decoration: underline;
}

p:last-of-type, li:last-of-type {
  margin-bottom: 3rem;
}

.text-center {
  text-align: center;
}
