@use "sass:meta";
@use "_variables" as *;

@include meta.load-css('_typography');
@include meta.load-css('navbar');
@include meta.load-css('animations');

html {
  font-size: $rem-base;
}

body {
  background: map-get($colors, bg-light);
  color: map-get($colors, text);
  margin: 0;
  overflow-x: hidden;
  font-family: 'belleza', sans-serif;
  letter-spacing: 0.055rem;

  &.dark {
    background: map-get($colors, bg-dark);
  }
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 45px;
  margin: 155px 120px 35px;
  transition: margin-top ease-in 0.3s;

  img {
    max-height: calc(100vh - 155px - 35px);
    width: auto;
    max-width: 100%;
    object-fit: contain;
    flex: 0 0 auto;

    top: 155px;
    position: sticky;
  }

  div {
    flex: 1 1 0;
    max-width: none;
  }

  @media screen and (max-width: $breakpoint-lg) {
    margin-left: 75px;
    margin-right: 75px;
  }

  @media screen and (max-width: $breakpoint-md) {
    margin: 99px 25px 35px;

    img {
      max-height: calc(100vh - 99px - 34px);
      top: 99px;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    flex-flow: column nowrap;
    margin: 99px 5vw 35px;

    img {
      max-height: calc(100vh - 99px - 34px);
      top: unset;
      position: unset;
    }

    img, div {
      width: 100%;
      max-width: 100%;
    }
  }
}

.sm-only {
  display: none;

  @media screen and (max-width: $breakpoint-sm) {
    display: unset;
  }
}

.sm-none {
  @media screen and (max-width: $breakpoint-sm) {
    display: none;
  }
}

a.button {
  background-color: map-get($colors, accent);
  border-radius: 3rem;
  color: #5b5247!important;
  padding: 0.75rem 1.563rem;
  font-family: 'bakerville';
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: $transition;

  &:hover {
    background: map-get($colors, href-hover);
  }

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}

main {
  @media screen and (min-width: $breakpoint-md) {
    > div[data-href='/about'] {
      p {
        font-size: 1.5rem;
      }
    }
  }

  // Image comes first on small screens
  @media screen and (max-width: $breakpoint-sm) {
    > div[data-href='/mentoring'],
    > div[data-href='/contact'] {
      order: 2;

      & + img {
        order: 1;
      }
    }

    > div[data-href='/contact'] h3 {
      text-align: center;
    }
  }
}
