@font-face {
  font-family: 'belleza';
  src: url('/assets/fonts/Belleza-Regular.ttf') format('truetype');
};

body {
  background: #4F4F57;
  color: #F6F4F1;
  font-family: 'belleza';
  margin: 0;


  &.dark {
    background: #2E2B29;
    color: #F6F4F1;
  }

  a {
    text-decoration: none;
  }
}

nav {
  background: #E2EBF4;
  height: 80px;

  margin: 0 auto;
  padding: 0 1.5rem;

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: center;
    gap: 6px;

    @media (max-width: 768px) {
      display: flex;
      z-index: 200;

      &.active {
        span:nth-child(1) {
          transform: rotate(45deg) translate(5px, 6px);
        }

        span:nth-child(2) {
          opacity: 0;
        }

        span:nth-child(3) {
          transform: rotate(-45deg) translate(6px, -6px);
        }
      }
    }
  }

  .hamburger span {
    display: block;
    height: 3px;
    background: #000;
    border-radius: 2px;
    transition: all 0.3s;
  }

  .nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background: #E2EBF4;
    transition: right 0.4s cubic-bezier(.77,0,.18,1), opacity 0.3s;

    a {
      color: #5b5247;
      font-size: 20px;
      text-transform: uppercase;

      &:nth-of-type(3) {
        color: #373430;
        font-size: 40px;
        text-transform: capitalize;
      }
    }

    @media (max-width: 768px) {
      position: fixed;
      top: 0;
      right: -100vw;
      height: 100vh;
      width: 100vw;
      flex-direction: column;

      &.open {
        right: 0;

        a {
          opacity: 1;
          transform: translateY(0);

          @for $i from 0 through 9 {
            &:nth-child(#{$i}) {
              transition-delay: #{($i * 0.1) + 0.3}s;
            }
          }
        }
      }

      a {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.4s, transform 0.4s;
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr; // Two equal columns
  grid-template-rows: 1fr;        // One row
  gap: 45px;

  margin-top: 4vh;

  p, li {
    font-size: 25px;
  }

  img {
    max-width: 360px;
  }

  a.button {
    background: #fff;
    border-radius: 20px;
    color: #5b5247;
    padding: 10px 20px;
    font-family: 'bakerville';
    text-transform: uppercase;
    transition: ease-in-out 0.3s;

    &:hover {
      background: rgb(212, 212, 212);
    }
  }

  a:not(.button) {
    color: unset;
    text-decoration: none;
  }
}
