@use "sass:meta";
@font-face {
  font-family: 'belleza';
  src: url('/assets/fonts/Belleza-Regular.ttf') format('truetype');
};

@font-face {
  font-family: 'baskerville ';
  src: url('/assets/fonts/libre-baskerville-regular.ttf') format('truetype')
}

@include meta.load-css('navbar');
@include meta.load-css('animations');

html {
  font-size: 20px;
}

body {
  background: #4F4F57;
  color: #F6F4F1;
  font-family: 'belleza';
  margin: 0;
  overflow-x: hidden;

  &.dark {
    background: #2E2B29;
    color: #F6F4F1;
  }

  a {
    text-decoration: none;
  }
}

a.button {
  background: #fff;
  border-radius: 20px;
  color: #5b5247;
  padding: 10px 20px;
  font-family: 'bakerville';
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: ease-in-out 0.3s;

  &:hover {
    background: rgb(212, 212, 212);
  }
}

main a:not(.button) {
  color: unset;
  text-decoration: none;
  transition: ease-in-out 0.3s;

  &:hover {
    color: rgb(212, 212, 212);
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    margin-top: 0px;
  }
}

main {
  align-items: self-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 45px;

  margin: 35px 0;

  div {
    max-width: 51vw;
  }

  img {
    max-width: 730px;
  }

  p, li, a:not(.button) {
    font-size: 1.25rem;
    line-height: 1.6rem;;
  }

  p.lead, ul.lead li {
    font-size: 1.75rem;
    line-height: 2.2rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    div, img {
      max-width: 85vw;
    }
  }
}
