@use "sass:meta";

$colors: (
  bg-dark: #2E2B29,
  bg-light: #4F4F57,
  text: #F6F4F1,
  href-color: #fff,
  href-hover: rgb(212, 212, 212)
);

$font-size: (
  h1: 6rem,
  h2: 4rem,
);

$transition: ease-in-out 0.3s;

@font-face {
  font-family: 'belleza';
  src: url('/assets/fonts/Belleza-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'baskerville';
  src: url('/assets/fonts/libre-baskerville-regular.ttf') format('truetype')
}

@include meta.load-css('navbar');
@include meta.load-css('animations');


body {
  background: map-get($colors, bg-light);
  color: map-get($colors, text);
  font-family: 'belleza';
  font-size: 2rem;
  margin: 0;
  overflow-x: hidden;

  &.dark {
    background: map-get($colors, bg-dark);
    color: map-get($colors, text);
  }
}

main {
  align-items: self-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 45px;

  margin: 35px 0;

  div {
    max-width: 51vw;
  }

  img {
    max-width: 45.625rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    div, img {
      max-width: 85vw;
    }
  }
}

/*
 * Typography
 ******************************************************/
a {
  text-decoration: none;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'baskerville';
    font-weight: 100;
    margin: 0 0;
  }
}

h1 {
  font-size: map-get($font-size, h1);
  letter-spacing: 0.35rem;
}

h2 {
  font-size: map-get($font-size, h2);
  letter-spacing: 0.35rem;
  margin-bottom: 7.5rem;
}

p, li, a:not(.button) {
  font-size: 2rem;
  line-height: 2.5rem;
}

p.lead, ul.lead li {
  font-size: 2.45rem;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.25rem
}

.highlight {
  color: #e2ebf4;
}


/*
 * Buttons & Hyperlinks
 ******************************************************/
a.button {
  background: map-get($colors, href-color);
  border-radius: 3rem;
  color: #5b5247;
  padding: 0.75rem 1.563rem;
  font-family: 'bakerville';
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: $transition;

  &:hover {
    background: map-get($colors, href-hover);
  }
}

main a:not(.button) {
  color: unset;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: map-get($colors, href-hover);
  }
}

/*
 * Page Specific overrides
 ******************************************************/

main div[data-href='/'] {
  h2 {
    margin-left: 6rem;
  }

  p {
    margin-left: 13rem;
    margin-bottom: 7.5rem;
  }

  .button {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

main div[data-href='/about'] {
  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h1, h2 {
    display: inline;
    font-size: map-get($font-size, h1);
    margin-right: 1.35rem;
  }
}

main div[data-href='/mentoring'] {
  h2 {
    margin-left: 6rem;
  }

  ul {
    margin-bottom: 4rem;
  }
}
