@import './navbar';

@font-face {
  font-family: 'belleza';
  src: url('/assets/fonts/Belleza-Regular.ttf') format('truetype');
};

body {
  background: #4F4F57;
  color: #F6F4F1;
  font-family: 'belleza';
  margin: 0;
  overflow-x: hidden;

  &.dark {
    background: #2E2B29;
    color: #F6F4F1;
  }

  a {
    text-decoration: none;
  }
}

a.button {
  background: #fff;
  border-radius: 20px;
  color: #5b5247;
  padding: 10px 20px;
  font-family: 'bakerville';
  text-transform: uppercase;
  transition: ease-in-out 0.3s;

  &:hover {
    background: rgb(212, 212, 212);
  }
}

main a:not(.button) {
  color: unset;
  text-decoration: none;
}

main {
  align-items: self-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 45px;

  margin: 80px 0;

  div {
    max-width: 45vw;
  }

  img {
    max-width: 360px;
  }

  p, li, a:not(.button) {
    font-size: 25px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    div, img {
      max-width: 85vw;
    }
  }
}
