@font-face {
  font-family: 'belleza';
  src: url('/assets/fonts/Belleza-Regular.ttf') format('truetype');
};

body {
  background: #4F4F57;
  color: #F6F4F1;
  font-family: 'belleza';

  &.dark {
    background: #2E2B29;
    color: #F6F4F1;
  }
}
