$breakpoint: 1080px;
$nav-bg: #E2EBF4;
$nav-text-color: #5b5247;
$nav-brand-color: #373430;
$nav-shadow: 0 0.5rem 0.2rem #5f5d5d5c;
$nav-hamburger-color: #000;

nav {
  background: $nav-bg;
  box-shadow: $nav-shadow;
  height: 7.814rem;
  padding: 0 1.5rem;
  z-index: 900;
  position: fixed;
  inset: 0 0 auto 0;

  @media (max-width: $breakpoint) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: center;
    gap: 6px;

    @media (max-width: $breakpoint) {
      display: flex;
      z-index: 501;

      &.active {
        span:nth-child(1) {
          transform: rotate(45deg) translate(5px, 6px);
        }

        span:nth-child(2) {
          opacity: 0;
        }

        span:nth-child(3) {
          transform: rotate(-45deg) translate(6px, -6px);
        }
      }
    }
  }

  span {
    display: block;
    height: 3px;
    background: $nav-hamburger-color;
    border-radius: 2px;
    transition: all 0.3s;
  }

  .nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background: $nav-bg;
    transition: right 0.4s cubic-bezier(0.77, 0, 0.18, 1), opacity 0.3s;

    a {
      color: $nav-text-color;
      font-size: 1.635rem;
      text-transform: uppercase;
      font-family: 'baskerville';

      @media (max-height: $breakpoint) {
        font-size: .75rem;
      }

      &:nth-of-type(3) {
        color:$nav-brand-color;
        font-size: 3.15rem;
        text-transform: capitalize;

        @media (max-height: $breakpoint) {
          font-size: 1.5rem;
        }
      }
    }

    @media (max-width: $breakpoint) {
      position: fixed;
      top: 0;
      right: -100vw;
      height: 100vh;
      width: 100vw;
      flex-direction: column;

      &.open {
        right: 0;

        a {
          opacity: 1;
          transform: translateY(0);

          $transition-delays: (0.3s, 0.4s, 0.5s, 0.6s, 0.7s);
          @each $delay in $transition-delays {
            $index: index($transition-delays, $delay);
            &:nth-child(#{$index}) {
              transition-delay: $delay;
            }
          }
        }
      }

      a {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.4s, transform 0.4s;
      }
    }
  }
}

