{% extends "pages/partials/_base.njk" %}

{% block body %}

<img class='animate-in for-3s' src="/dist/images/about.jpg" alt="Peter Lennox" />

<div data-href='/about'>
  <h1 class="animate-in-left">Meet</h1>
  <h2 class="animate-in-left">Your <span class='highlight'>Mentor</span></h2>

  <p>Peter Lennox has been a CEO in New Zealand for 15 years, driving revenue growth and organisational profit year on year. Over his prolific time as an executive leader, Peter has been responsible for managing more than $2 billion in revenue globally across both the private and public sectors. But for Peter, leadership success is about far more than just the bottom line. It&apos;s been about the development of the six thousand employees under his care. And it&apos;s about you. The next generation of leaders, stepping up to the helm.</p>

  <p>Empowering foresight, Peter has encouraged cutting-edge innovation in technology and science. While CEO at MetService, New Zealand&apos;s national weather authority, one of the world&apos;s first weather Apps was launched. While CEO at the Institute of Environmental Science and Research (ESR), a handheld device delivering instant drug identification was developed which won the Excellence in Forensic Science Award at the World Police Summit in Dubai.</p>

  <p>Peter&apos;s executive tenure has seen significant contract wins with global organisations such as the World Bank, United Nations (UNDP), European Union, Commonwealth Fund, Sky Group, Al Jazeera, the BBC, and Mars Inc. He has also expanded business operations internationally with offices reporting to him from Beijing, London, Sydney, New York, Los Angeles, Dubai, and Bangkok, as well as Eastern Europe and South America.</p>

  <p>Peter has been a director on numerous boards, chairing a number of them in the United Kingdom. His board experience spans the technology, enterprise, education and sports sectors, overseeing exports, mergers and acquisitions. A graduate of the Senior Executive Programme at London Business School, Peter has a MBA, a Master of Science degree, and is a member of the Institute of Directors in New Zealand.</p>

  <p>Peter now splits his time between New Zealand and the United Kingdom.</p>
</div>
{% endblock %}
