{% extends "pages/partials/_base.njk" %}

{% block body %}
<div data-href='/contact'>
  <h1 style='text-transform: none;' class='animate-in-right'>
    Elevate your leadership
  </h1>

  <p class='lead animate-in after-1s'>In-person sessions with Peter can be arranged for:</p>

  <ul class='lead animate-in after-1s'>
    <li>New Zealand (Auckland - Wellington - Christchurch)</li>
    <li>United Kingdom (London - Edinburgh)</li>
    <li>Online consultations - subject to availability</li>
  </ul>

  <h3 class='animate-in after-1s'>Contact:</h3>

  <a class='lead animate-in after-1s' href="mailto:enquiries@lennoxmentors.com">enquiries@lennoxmentors.com</a>
</div>
<img class='animate-in for-3s' src="/dist/images/contact.jpg" alt="Peter Lennox" />
{% endblock %}
