{% extends "pages/partials/_base.njk" %}

{% block body %}
<div>
  <h1>Elevate your leadership</h1>

  <p class='lead'>In-person sessions with Peter can be arranged for:</p>

  <ul class='lead'>
    <li>New Zealand (Auckland - Wellington - Christchurch)</li>
    <li>United Kingdom (London - Edinburgh)</li>
    <li>Online consultations - subject to availability</li>
  </ul>

  <h2>Contact</h2>

  <a class='lead' href="mailto:enquiries@lennoxmentors.com">enquiries@lennoxmentors.com</a>
</div>
<img src="/dist/images/contact.jpg" alt="Peter Lennox" />
{% endblock %}
