{% extends "pages/partials/_base.njk" %}

{% block body %}
<h1>Elevate your leadership</h1>

<p>In-person sessions with Peter can be arranged for:</p>

<ul>
  <li>New Zealand (Auckland - Wellington - Christchurch)</li>
  <li>United Kingdom (London - Edinburgh)</li>
  <li>Online consultations - subject to availability</li>
</ul>

<h2>Contact</h2>
<a href="mailto:enquiries@lennoxmentors.com">enquiries@lennoxmentors.com</a>

<img src="/dist/images/contact.jpg" alt="Peter Lennox" />
{% endblock %}
