{% extends "pages/partials/_base.njk" %}

{% block body %}
<img class='animate-in for-3s' src="/dist/images/home.jpg" alt="Peter Lennox" />
<div data-href='/'>
  <h1 class="animate-in-right highlight">Elevate</h1>
  <h2 class="animate-in-left after-1s">Your Leadership</h2>

  <p class='lead animate-in after-2s'>Address challenges and embrace innovation in your management through bespoke one-to-one mentoring sessions with a seasoned CEO</p>

  <a class='button animate-in after-2s' href="/contact">Enquire Now</a>
</div>
{% endblock %}
