{% extends "pages/partials/_base.njk" %}

{% block body %}
<img src="/dist/images/home.jpg" alt="Peter Lennox" />
<div>
  <h1>Elevate</h1>
  <h2>Your Leadership</h2>

  <p class='lead'>Address challenges and embrace innovation in your management through bespoke one-to-one mentoring sessions with a seasoned CEO.</p>

  <a class='button' href="/contact">Enquire Now</a>
</div>
{% endblock %}
