{% extends "pages/partials/_base.njk" %}

{% block body %}

<div>
  <h1>Have a CEO</h1>
  <h2>In Your Corner</h2>

  <p class='lead'>Offering bespoke, independent, executive mentoring to:</p>

  <ul class='lead'>
    <li>Assist Executive Leaders striving for the next career stage</li>
    <li>Provide a confidential sounding board for current CEOs</li>
    <li>Navigate the interface between Public and Private Sectors</li>
  </ul>

  <p>One-to-one sessions in-person and online</p>
</div>
<img src="/dist/images/mentoring.jpg" alt="Peter Lennox" />
{% endblock %}
