{% extends "pages/partials/_base.njk" %}

{% block body %}

<div data-href='/mentoring'>
  <h1 class="animate-in-right">Have a CEO</h1>
  <h2 class="animate-in-left after-1s">In Your Corner</h2>

  <p class='lead animate-in after-1s'>Offering bespoke, independent, executive mentoring to:</p>

  <ul class='lead animate-in after-1s'>
    <li>Assist <span class='highlight'>Executive Leaders</span> striving for the next career stage</li>
    <li>Provide a confidential sounding board for <span class='highlight'>current CEOs</span></li>
    <li>Navigate the interface between <span class='highlight'>Public</span> and <span class='highlight'>Private Sectors</span></li>
  </ul>

  <p class='lead animate-in after-1s'>One-to-one sessions in-person and online</p>
</div>
<img class='animate-in for-3s' src="/dist/images/mentoring.jpg" alt="Peter Lennox" />
{% endblock %}
